/*On va s'occuper de la page d'accueil*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #eee;
}

/* Styles pour la section nav bar*/
nav {
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 60px;
    font-size: 16px;
    color: #444;
    text-decoration: none;
}

nav ul li a:hover {
    color: #000;
}

/* Styles pour la section footer*/
footer {
    background-color: #444;
    height: 60px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}