html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
}

/**********************NAV BAR**********************/
nav {
    background-color: #A594F9;
    height: 70px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.navLeft{
    float: left;
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.navLeft a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}

.navLeft a:hover{
    color: #7371FC;
}

.navCenter{
    float: left;    
    width: 34%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navCenter a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}

.navRight{
    float: right;
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.navRight a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}

.navRight a:hover{
    color: #7371FC;
}
/********************** NAV BAR **********************/

/********************** CONTENT **********************/
.container{
    width :60%;
    height: 1200px;
    margin-top:10px;
    margin-left:20%;
}

.container .image{
    width:100%;
    height: 400px;
    float: left;
    border: 1px solid #7371FC;
    margin-bottom: 20px;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .image img{
    max-width:auto;
    max-height: 300px;
    border-radius: 10px;
}

.container .infos{
    width:25%;
    height:auto;
    float: right;
    border-left:3px solid #7371FC;
    padding: 10px;
    margin-bottom: 10px;
}

.container .infos h1{
    font-size: 30px;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

.container .infos p{
    font-size: 15px;
    color: #000;
    margin-bottom: 10px;
}

.container .description{
    width:70%;
    float: left;
    margin-bottom: 10px;
}

.container .avis{
    width:100%;
    float: left;
    margin-bottom: 10px;
}
/********************** CONTENT **********************/

/********************** FOOTER **********************/
footer {
    background-color: #A594F9;
    height: 100px;
    width: 100%;
    z-index: 100;
    position : relative;
    margin: 0;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer h3{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    padding-top: 20px;
}
/********************** FOOTER **********************/