html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
}

/**********************NAV BAR**********************/
nav {
    background-color: #A594F9;
    height: 70px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.navLeft{
    float: left;
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.navLeft a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}

.navLeft a:hover{
    color: #7371FC;
}

.navCenter{
    float: left;    
    width: 34%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navCenter a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}

.navRight{
    float: right;
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.navRight a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}

.navRight a:hover{
    color: #7371FC;
}
/********************** NAV BAR **********************/

/********************** CONTENT **********************/
.signInField{
    width: 40%;
    height: 500px;
    margin: auto;
    border : 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    
}

.signInField h2{
    width: 100%;
    float : left;
    text-align: center;
    margin-bottom: 20px;
}

.signInField label{
    width: 100%;
    float : left;
    margin-bottom: 20px;
}

.signInField input{
    width: 100%;
    float : left;
    margin-bottom: 20px;

}

.signInField input:focus{
    outline: none;
}

.signInField button{
    width: 20%;
    float : left;
    margin-left: 40%;
    margin-bottom: 20px;
    background-color: #A594F9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.signInField button:hover{
    background-color: #7371FC;
}

.signInField p{
    width: 100%;
    float : left;
    text-align: center;
    margin-bottom: 20px;
}

.signInField a{
    color: #7371FC;
    text-decoration: none;
}

.signInField a:hover{
    color: #A594F9;
}

/********************** CONTENT **********************/

/********************** FOOTER **********************/
footer {
    background-color: #A594F9;
    height: 100px;
    width: 100%;
    z-index: 100;
    position : absolute;
    margin: 0;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer h3{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    padding-top: 20px;
}
/********************** FOOTER **********************/